
.card {
    height: 80% ;
    width: 60%;
    padding: 15px;

.row{
    margin-left: 5px;
}
   
}

.main-content{
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 150px;
}

 