<footer class="footer">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-md-4">
              <div class="links">
                  <ul class="uppercase-links">
                      <li>
                          <a href="#"> Business</a>
                      </li>
                      <li>
                          <a href=""> About</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4">
            <div class="links">
                <ul class="uppercase-links">
                    <li>
                        <a href="#">
                            Privacy & Terms
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>

      </div>
  </div>
        
</footer>